@model IEnumerable<WebSite.Models.AdTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Show this div on Small screens*@
<div class="hidden-md hidden-lg ">

    <div class="jumbotron jumbotron-ForRent">
        <h1>Безкоштовні оголошення для української громади в Чікаго</h1>
        <p>Хочете швидко знайти роботу, продати ваше авто чи знайти нове житло ? Ви в правильному місці !!</p>
    </div>

</div>

@*Show this div on medium and large screens*@
    <div class="hidden-sm hidden-xs">
        <div id="imagecarousel" class="carousel slide" data-interval="6000" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#imagecarousel" data-slide-to="0" class="active"></li>
                <li data-target="#imagecarousel" data-slide-to="1"></li>
                <li data-target="#imagecarousel" data-slide-to="2"></li>
                <li data-target="#imagecarousel" data-slide-to="3"></li>

            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/images/a.jpg" class="img-responsive">
                    <div class="carousel-caption">
                        <div class="jumbotron">

                            <h1>Безкоштовні оголошення для української громади в Чікаго</h1>
                            <p>Хочете швидко знайти роботу, продати ваше авто чи знайти нове житло ? Ви в правильному місці !!</p>
                            <p><a class="btn btn-default btn-lg" href="#" role="button">For Sale / Продам</a></p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="~/images/b.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="jumbotron">
                            <h1>Без реєстрації</h1>
                            <p> Будова, Водії, Продавці, Диспетчера, Менеджера..</p>
                            <p><a class="btn btn-default btn-lg" href="AdTables/Index" role="button">Jobs / Робота</a></p>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <img src="~/images/c.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="jumbotron">
                            <h1>Безкоштовно</h1>
                            <p> Потрібна кімната чи квартира, склад або паркінг - вам сюди!</p>
                            <p><a class="btn btn-default btn-lg" href="ForRents/Index" role="button">For Rent / Оренда житла</a></p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="~/images/d.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="jumbotron">
                            <h1>Без терміну давності</h1>
                            <p>
                                Зломалося авто чи кондиціонер в будинку? Потрібен ремонт компютера чи телефону? Фотограф чи адвокат?
                            </p>
                            <p><a class="btn btn-default btn-lg" href="#" role="button">Services / Послуги</a></p>
                        </div>

                    </div>
                </div>
            </div>
            <a href="#imagecarousel" class="carousel-control left" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#imagecarousel" class="carousel-control right" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
