@model IEnumerable<WebSite.Models.AdTable>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <div id="imagecarousel" class="carousel slide" data-interval="6000" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#imagecarousel" data-slide-to="0" class="active"></li>
            <li data-target="#imagecarousel" data-slide-to="1"></li>
            <li data-target="#imagecarousel" data-slide-to="2"></li>
            <li data-target="#imagecarousel" data-slide-to="3"></li>

        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/a.jpg" class="img-responsive">
                <div class="carousel-caption">
                    <div class="jumbotron">

                        <h1>Ukrainian community in Chicago</h1>
                        <p>Buy/Sell Products in Chicago. No Registrations!! Easy to apply </p>
                        <a class="btn btn-default" href="ForSale/Index" role="button">Open For Sale</a>

                    </div>
                </div>
            </div>

            <div class="item">
                <img src="~/images/b.jpg" class="img-responsive" />
                <div class="carousel-caption">
                    <div class="jumbotron">
                        <h1>Jobs in Chicago</h1>
                        <p>Browse a huge collection of full time and part time jobs in Chicago</p>
                        <p><a class="btn btn-default" href="AdTables/Index" role="button">Open Jobs</a></p>
                    </div>

                </div>
            </div>

            <div class="item">
                <img src="~/images/c.jpg" class="img-responsive" />
                <div class="carousel-caption">
                    <div class="jumbotron">
                        <h1>Apartments For Rent in Chicago</h1>
                        <p>Find a great deal on recently listed Chicago apartments</p>
                        <p><a class="btn btn-default" href="ForRents/Index" role="button">Open For Rent</a></p>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="~/images/d.jpg" class="img-responsive" />
                <div class="carousel-caption">
                    <div class="jumbotron">
                        <h1>Services</h1>
                        <p>Find the best deals for all kind of services</p>
                        <p><a class="btn btn-default" href="Services/Index" role="button">Open Services</a></p>
                    </div>

                </div>
            </div>
        </div>
        <a href="#imagecarousel" class="carousel-control left" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#imagecarousel" class="carousel-control right" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    


